<div
	oninput={{action this.componentAttrs.blah value="target.value"}}
>Button</div>
<div
	onmouseenter={{action this.componentAttrs.blah value="target.value"}}
>Button</div>
<div
	onmouseleave={{action this.componentAttrs.blah value="target.value"}}
>Button</div>
<div
	onsubmit={{action this.componentAttrs.blah value="target.value"}}
>Button</div>
<div
	onsubmit={{action (toggle this.componentAttrs.blah) value="target.value"}}
>Button</div>
<div
	onclick={{action (add this.componentAttrs.blah foo) value="target.value"}}
>Button</div>
<div
	{{action this.componentAttrs.blah value="target.value"}}
>Button</div>
<div
	{{action (toggle this.componentAttrs.blah) value="target.value"}}
>Button</div>
<div
	{{action (add this.componentAttrs.blah foo) value="target.value"}}
>Button</div>