<div
	{{on "input" (pick "target.value" this.componentAttrs.blah)}}
>Button</div>
<div
	{{on "mouseenter" (pick "target.value" this.componentAttrs.blah)}}
>Button</div>
<div
	{{on "mouseleave" (pick "target.value" this.componentAttrs.blah)}}
>Button</div>
<div
	{{on "submit" (pick "target.value" this.componentAttrs.blah)}}
>Button</div>
<div
	{{on "submit" (pick "target.value" (toggle this.componentAttrs.blah))}}
>Button</div>
<div
	{{on "click" (pick "target.value" (add this.componentAttrs.blah foo))}}
>Button</div>
<div
	{{on "click" (pick "target.value" this.componentAttrs.blah)}}
>Button</div>
<div
	{{on "click" (pick "target.value" (toggle this.componentAttrs.blah))}}
>Button</div>
<div
	{{on "click" (pick "target.value" (add this.componentAttrs.blah foo))}}
>Button</div>